<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Lista de Tarefas</title>
</head>
<body>
    <h1>Lista de Tarefas</h1>
    <br>
    <br>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Data da Tarefa</th>
                <th>Nome da Tarefa</th>
                <th>Status da Tarefa</th>
            </tr>
        </thead>
        <tbody>
            {% for tarefa in tarefas %}
                <tr>
                    <td>{{ tarefa.id_tarefa }}</td>
                    <td>{{ tarefa.data_tarefa }}</td>
                    <td>{{ tarefa.nome_tarefa }}</td>
                    <td>{{ tarefa.status_tarefa }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ url_for('index') }}" class="btn">Página inicial</a>
</body>
</html>
